<!-- login.ejs -->
<%- include('../layouts/header-guest', { pageTitle: 'Login' }) %>

<div class="flex h-screen bg-slate-200">
    <div class="m-auto">
        <h1 class="text-xl font-bold text-center text-slate-600">Starter Kit</h1>
        <div class="p-2 px-8 pt-6 pb-8 mt-4 mb-4 bg-white rounded">
            <form action="/login" method="POST" class="flex flex-col gap-2 space-y-3">
                <h1>Login User</h1>
                <div>
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                      Username
                    </label>
                    <input required name="username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>
                <div>
                    <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                      Password
                    </label>
                    <input required name="password" class="w-full px-3 py-2 mb-3 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
                </div>
                <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="button">
                    Sign In
                </button>
            </form>
        </div>
        <p class="text-xs text-center text-gray-500">
            &copy;2020 Acme Corp. All rights reserved.
        </p>
    </div>
</div>



<%- include('../layouts/footer-guest') %>