<!-- views/partials/sidebar.ejs -->
<aside class="w-48 h-screen px-4 py-4 text-white bg-gray-700 pt-14">
    <ul>
        <li>
            <a href="/home" class="block px-3 py-2 text-gray-300 hover:bg-gray-600">Home</a>
        </li>
        <li>
            <a href="/berita" class="block px-3 py-2 text-gray-300 hover:bg-gray-600">Berita</a>
        </li>
        <!-- Tambahkan link lainnya sesuai kebutuhan -->
    </ul>
</aside>
