<!-- views/home/index.ejs -->
<%- include('../layouts/header-main', { pageTitle: 'Home' }) %>

<!-- Konten spesifik halaman home -->
<div class="container px-4 py-8 mx-auto">
    <h1 class="mb-4 text-2xl font-bold">Home Page</h1>
    <!-- Isi konten halaman home -->
</div>

<%- include('../layouts/footer-main', { pageTitle: 'Home' }) %>
