<!-- views/news/index.ejs --> 
<%- include('../layouts/header-main', { pageTitle: 'news' }) %>
<div class="container px-4 py-8 mx-auto">
    <h1 class="mb-4 text-2xl font-bold">news Page</h1>
</div>
<%- include('../layouts/footer-main') %>